<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/AdminLTE.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/alt/AdminLTE-bootstrap-social.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/alt/AdminLTE-fullcalendar.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/alt/AdminLTE-select2.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/alt/AdminLTE-without-plugins.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/skins/_all-skins.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/skins/skin-black-light.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/skins/skin-black.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
        <title>exam</title>
    </head>
    <body class="skin-blue layout-top-nav">     
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <% if (loginStatus){ %>
                        <a class = "navbar-brand" href="/insertLesson"><b><%= user.nickname %>  Home</b></a>
                    <% }else{ %>
                        <a class = "navbar-brand"><b>Home</b></a>
                    <% } %>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    </div>
            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                                <% if (loginStatus){ %>
                                    <li><a href="/signout" class="btn btn-primary">登出</a></li>
                                <% }else{ %>
                                    <li><a href="/" class="btn btn-primary">登入</a></li>
                                    <li><a href="/getsignup" class="btn btn-primary">註冊</a></li>
                                <% } %>
                        </ul>       
                    </div>     
                </div>
            </nav>
        </header>     
        <br/>
        <section id="lessonIntroduction">
            <div class="container">
                <a href="../lesson/<%= lessonindex %>" type="button" class="btn btn-primary" ><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 回到單字列表</a>
                課程單元：<%= lessoninform.num%> / 課程名稱：<%= lessoninform.name%> 
                <div class="box-tools pull-right">
                    <form action="/record/<%= lessonindex%>" method="post">
                        <button class="btn btn-primary btn-block" type="submit">確認儲存成績記錄 <span class="glyphicon glyphicon-saved" aria-hidden="true"></span></button>
                    </form>
                </div>           
                <div class="well">課程介紹：<%= lessoninform.info%></div>
            </div>
        </section>
        <section id="vocaulary list">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">題目與答題狀況</h3>
                            </div>
                            <div class="box-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th>#</th>
                                        <th>vocabulary</th>
                                        <th>Familiarity</th>
                                        <th style="width: 40px">Familiarity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var index=0,i=0; i < lessoninform.vocabulary.length; i++) { %>
                                            <% index++ %>
                                            <tr>
                                                <th scope="row">第<%=index %>題</th> 
                                                <td> 
                                                    <div id="mylist"><%= lessoninform.vocabulary[numlist[i]].word%></div>
                                                    <!-- update/delete vocabulary -->
                                                    
                                                </td>    
                                                <td>
                                                    <span class="badge bg-light-blue"><%= (testResult[i])*25 %>%</span>
                                                    <div class="progress progress-xs progress-striped active">
                                                    <div class="progress-bar progress-bar-primary" style="width: <%= (testResult[i])*25%>%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <% if(testResult[i]==4) {%>
                                                        <div>很棒</div>
                                                    <%} else if(testResult[i]==3) {%>
                                                        <div>再加油</div>
                                                    <%} else if(testResult[i]==2) {%>
                                                        <div>多多加強</div>
                                                    <%} else if(testResult[i]==1) {%>
                                                        <div>非常不熟</div>
                                                    <%} else{%>
                                                        <div>完全不會</div><% } %>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->  
                    </div>
                    <div class="col-md-4">
                            <div id="donut-example"></div>
                    </div>
                </div>
                
            </div>
        </section>
    <script type="text/javascript"src="/javascripts/performance.js"></script>
    </body>
</html>